* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
body {
  transition: all 0.6s;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
}
h2 {
  color: white;
  /* border: black 2px solid; */
  padding: 30px;
}
.naruto {
  transition: all 0.6s;
  background-image: url("https://wallpapers.com/images/hd/naruto-symbol-itachi-logo-dcfydgnlebwsq9si.jpg");
}

button {
  padding: 16px;
  background-color: transparent;
  font-size: 20px;
  border-radius: 0px 20px 0px 20px;
  margin-bottom: 20px;
  margin-left: 25px;
  color: white;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.226);
}
.bottom-buttons > * {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.bottom-buttons > * {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
